@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

:root {
  --bg: #1a1a1c;
  --bg2: #4e4e50;
  --red1: #c3083f;
  --red2: #940741;
  --red3: #6f2232;
  --orange: #ef7f00;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    var(--red1) 40%,
    var(--orange) 100%
  );
}

.wrapper {
  display: grid;
  margin: 2vh;
  height: 90vh;
  gap: 2vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "timer card";
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "timer "
      "card";
  }
}
